<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazika</title>
    <link rel="stylesheet" href="style.css">
    <script src="./../Libs/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="../lazika.png" alt="Logo" />
        </header>
        <div class="inputs">
            <input type="text" id="username" name="username" placeholder="მომხმარებელი" required>
            <input type="password" id="password" name="password" placeholder="პაროლი" required>
        </div>
        <button id="login" type="submit">ავტორიზაცია</button>
    </div>

    <script src="./../Js/script.js"></script>
</body>
</html>
