<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazika</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="./../lazika.png" alt="Logo" />
        </header>
        <div>
            <span class="welcome">Welcome to Lazika, <b id="user">Dealer Name</b></span>
            <span class="details">Your ID is: <b class="detail-id" id="amexId">#d*****2</b></span>
            <span class="detail-url" id="copartUrl">click here to redirect copart</span>
        </div>
        <div>
            <button id="logout">Logout</button>
        </div>
    </div>

    <script src="./../Js/script-auth.js"></script>
</body>
</html>
